
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #111; /* Netflix black background */
  color: #fff; /* default text white */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}